<mat-nav-list>
   <div class="menu__container">
      <a mat-list-item routerLink="/home" (click)="onSidenavClose()">
         <mat-icon>home</mat-icon><span class="list__item">Home</span>
      </a>
      <a mat-list-item routerLink="/owner" (click)="onSidenavClose()">
         <mat-icon>assignment_ind</mat-icon><span class="list__item">Item 1</span>
      </a>
      <a mat-list-item routerLink="/#" (click)="onSidenavClose()">
         <mat-icon>account_balance</mat-icon><span class="list__item">Item 2</span>
      </a>
   </div>

</mat-nav-list>
