.menu__container {
   margin: 30px 15px;

   .list__item {

      a {
         text-decoration: none;
         color: #2f2f2f;
      }
      a:hover, a:active {
         color: #686868;
      }
   }
}
